body {
    background-color: #051D3B;
}

/*Header*/

.logo-alura {
    position: absolute;
    top: 22px;
    width: 140px;
    left: 20px
}

.pesquisa {
    width: 50%;
    margin: 0 auto;
}
.barra-pesquisa {
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.16);
    color: #FFF;
    border: solid 0px #96B9FD;
    border-radius: 4px;
    padding: 12px 6px;
    width: 50%;
    position: absolute;
    top: 24px;
}

.usuario {
    position: absolute;
    right: 10px;
    top: 20px;
}

.foto-signin {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    margin: 5px;
}

p {
    display: inline-block;
    color: white;
    position: relative;
    bottom: 12px;
    margin-right: 20px;
    font-size: 1.6em;
}

/*Menu*/
.principal {
    color: #FFF;
    margin: 110px 0 0 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}

.principal div img{
    width: 30px;
    margin-right: 15px;
}
.btn-editar {
    margin-top: 8px;
    padding-top: 20px;
}

.btn-editar:hover {
    opacity: 70%;
    transition: 500ms;
}

.btn-comunidade {
    margin-top: 8px;
}

.btn-comunidade:hover {
    opacity: 30%;
    transition: 500ms;
}

/*editor*/

#editor {
    width: 50%;
    margin: 0 auto;
}

#editor-texto {
    position: absolute;
    top: 100px;
    font-size: 1em;
    width: 50%;
    box-sizing: border-box;
    color: #FFF;
    background-color: #000;
    border: solid rgb(85, 85, 253) 23px;
    border-radius: 4px;
    padding: 40px 0 170px 1%;
    display: block;
}

#btn-code {
    position: relative;
    top: 130px;
    left: 40px;
}

#btn-highlight {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    top: 410px;
    background-color: rgb(50, 81, 161, 18%);
    border: none;
    border-radius: 2px;
    color: white;
    padding: 16px 0;
}

/*seu projeto*/

.seu-projeto {
    position: absolute;
    right: 40px;
    margin: 110px 0 0 50px;
    font-size: 0.8em;
}

.projeto-descricao {
    display: flex;
    flex-direction: column;
}

.nome-projeto {
    display: block;
    padding: 12px 60px 12px 20px;
    background: rgba(255, 255, 255, 0.16);
    border: 0px;
    border-radius: 4px;
    margin-top: 10px;
}

.personalizacao {
    background: rgba(255, 255, 255, 0.16);
    display: block;
    padding: 12px 14px;
    border: 0px;
    border-radius: 4px;
    margin-top: 10px;
    width: 260px;
    color: #FFF;
}

option {
    background-color: #051D3B;
}

#colors {
    border: #051D3B 6px solid;
    box-shadow: #fff 0 0 0 1px;
    padding: 5px 8px;
    margin-top: 20px;
    width: 260px;
}

#botao-salvar {
    width: 260px;
    padding: 20px 0;
    margin-top: 30px;
    background-color: #5081FB;
    display: flex;
    font-weight: bold;
}

/*pág comunidade*/

#editor-comunidade {
    width: 25%;
    margin: 0 auto;
}

#editor-texto-comunidade {
    position: absolute;
    top: 100px;
    font-size: 1em;
    width: 25%;
    box-sizing: border-box;
    color: #FFF;
    background-color: #000;
    border: solid rgb(85, 85, 253) 23px;
    border-radius: 4px;
    padding: 40px 0 170px 1%;
    display: block;
}

#btn-highlight-comunidade {
    width: 25%;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    top: 410px;
    background-color: rgb(50, 81, 161, 18%);
    border: none;
    border-radius: 2px;
    color: white;
    padding: 16px 0;
}